
	
#r1c1{
	 width: 500px;	
	float: right;	
	height: 700px;
	
}
#r1c2{
	float: left;
	width: 500px;
	height: 700px;
}
#r2c1{
	 width: 500px;	
	float: right;	
	height: 700px;
	
}
#r2c2{
	float: left;
	width: 500px;
	height: 700px;
}
#r3c1{
	 width: 500px;	
	float: right;	
	height: 700px;
	
}
#r3c2{
	float: left;
	width: 500px;
	height: 700px;
}
#r4c1{
	 width: 500px;	
	float: right;	
	height: 700px;
	
}
#r4c2{
	float: left;
	width: 500px;
	height: 700px;
}
#r5c1{
	 width: 500px;	
	float: right;	
	height: 700px;
	
}
#r5c2{
	float: left;
	width: 500px;
	height: 700px;
}
#r6c1{
	 width: 500px;	
	float: right;	
	height: 700px;
	
}
#r6c2{
	float: left;
	width: 500px;
	height: 700px;
}
#r7c1{
	 width: 500px;	
	float: right;	
	height: 700px;
	
}
#r7c2{
	float: left;
	width: 500px;
	height: 700px;
}
#r8c1{
	 width: 500px;	
	float: right;	
	height: 700px;
	
}
#r8c2{
	float: left;
	width: 500px;
	height: 700px;
}
#r9c1{
	 width: 500px;	
	float: right;	
	height: 700px;
	
}
#r9c2{
	float: left;
	width: 500px;
	height: 700px;
}
#r10c1{
	 width: 500px;	
	float: right;	
	height: 700px;
	
}
#r10c2{
	float: left;
	width: 500px;
	height: 700px;
}
